.amount-item-in-basket {
    border-radius: 100px;
    top: -13px;
    right: -13px;
    min-width: 20px;
}

.flash-message-container {
    top: 100px;
    right: 25px;
    cursor: pointer;

    .flash-message-text {
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);
        color: #000000;
        padding: 5px 25px;
        max-width: 250px;
        margin-top: 10px;
    }
}

header {
    height: 100px;
    //box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.logo-container {
    max-width: 100px;
}

main {
    margin: auto;
    padding: 25px;
}

.invalid-value {
    border-color: red !important;
    border-width: 2px !important;
}

.product-window-shadow,
.basket-window-shadow {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.container-suggestions-pos-abs {
    border: 1px solid #cbcdd1;
    background-color: #FFFFFF;
    width: calc(100% - 2px); /* - border */
    color: black;
}

.suggestion-item:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 247);
}

.clear-product-button {
    display: none;
}

/* ADAPTIVE*/
.button-open-product,
.combo-container {
    width: 20%;
}

header {
    padding-left: 25px;
    padding-right: 25px;
}

.product-content {
    width: 25vw;
    flex-direction: column;
}

.combo-content {
    width: 50vw;
}

.container-img-and-about-product, .container-modification-product {
    width: 100%;
}

.container-product-img-and-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* модальное окно */
.modal-window-component-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .modal-window-component {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-window-shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00000030;
        }

        .modal-window-content-container {
            z-index: 1;
            position: relative;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            transition: transform 500ms;

            .modal-window-close-button {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                display: flex;
                padding: 8px;

                path {
                    fill: white;
                }
            }

            .modal-window-content {
                overflow-y: auto;
                overflow-x: hidden;
                max-height: 80vh;
                margin: 25px;
            }
        }
    }
}

.buttons-edit-amount-product {
    height: 30px;
    background-color: rgb(243, 243, 247);
    > * {
        height: 30px;
        min-width: 30px;
        font-family: fantasy;

        &.delete-product-button {
            border-radius: 25px 0 0 25px;
        }

        &.add-product-button {
            border-radius: 0 25px 25px 0;
        }
    }

    > button:active {
        transform: scale(0.95);
    }
}

/* цвета */
.order-status-1 {
    background-color: #f1848e;
    color: #000000;
}

.order-status-2 {
    background-color: #b0e9f5;
    color: #000000;
}

.order-status-3 {
    background-color: #f1b489;
    color: #000000;
}

.order-status-4 {
    background-color: #ffc107;
    color: #000000;
}

.order-status-5 {
    background-color: #84b79f;
    color: #000000;
}

.order-status-6 {
    background-color: #7195cb;
    color: #000000;
}

.order-status-7 {
    background-color: #b8c1c9;
    color: #000000;
}

.order-status-8 {
    background-color: #f8f9fa;
    color: #000000;
    border: 1px solid #000000;
}

.order-status-9 {
    background-color: #212529;
    color: #FFFFFF;
}

.product-in-order-status-1 {
    background-color: #dc3545;
    color: #FFFFFF;
}

.product-in-order-status-2 {
    background-color: #ffc107;
    color: #000000;
}

.product-in-order-status-3 {
    background-color: #198754;
    color: #FFFFFF;
}

.left-menu-content-container {
    max-width: calc(25% - 96px);
    transition: transform 500ms;
    transform: translateX(-100%);
}

.close-menu-button > svg {
    transition: transform 500ms;
}

.left-menu:not(.hide) .close-menu-button > svg {
    animation: rotate 1s;
}

.close-menu-button > svg:hover {
    transform: rotate(360deg);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@font-face {
    font-family: 'Arkhip';
    src: url('/fonts/arkhip.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/arkhip.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('/fonts/arkhip.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/arkhip.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('/fonts/arkhip.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/arkhip.svg#arkhip') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
    font-family: 'Arkhip', serif;
    //font-weight: 600;
}

.ingredient label {
    font-weight: normal;
}

.modal-window-content-container {
    background-color: #101010;
    border: 1px solid #ff7300;
    color: white;
}

.motion {
    &.alarm-container {
        color: red;
    }

    animation: motion-animation 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes motion-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.catalog {
    .product-container {
        margin: 10px;
        border-radius: 15px;
        height: 100%;

        .container-product-description {
            flex: 1;
        }
    }
}

input[type="radio"]:checked + span {
    background-color: #ff7300;
    border-radius: 5px;
}

.fast-menu {
    display: none;
}

.confirmation-code-title {
    width: 30vw;
}

.container-product-in-basket {
    border-bottom: 1px solid white;
}

.promo-code-container {

    input[name="clientPromoCode"] {
        text-transform: uppercase;
    }

    .promo-code-clear-button-container {
        width: 41px;
        .promo-code-clear-button {
            background-color: unset;
            border: unset;
            & > svg {
                color: grey;
            }
        }
    }

    .promo-code-apply-button {
        margin-bottom: 0;
    }

    .promo-code-input-container {
        flex: 1;
    }
}

/* переключатель красивый */
.custom-checkbox-label {
    display: inline-block;
    height: 23px;
    position: relative;
    width: 38px;
}

.custom-checkbox-label input {
    display: none;
}

.custom-checkbox-slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.custom-checkbox-slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    left: 4px;
    position: absolute;
    transition: .4s;
    height: 15px;
    width: 15px;
}

input:checked + .custom-checkbox-slider {
    background-color: #66bb6a;
}

input:checked + .custom-checkbox-slider:before {
    transform: translateX(15px);
}

.custom-checkbox-slider.round {
    border-radius: 23px;
}

.custom-checkbox-slider.round:before {
    border-radius: 50%;
}

body,
.modal-window-content,
.left-menu-content-container .scroll-auto {
    &::-webkit-scrollbar {
        width: 0; /* ширина scrollbar */
    }
}

/* поиск в select */
.search-field-container {
    width: 100%;
    position: relative;
}
.search-field {
    width: calc(100% - 20px);
}
.custom-options-container {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: calc(100% - 20px);
    padding: 5px 10px;
    border: 1px solid #cbcdd1;
    border-radius: 5px;
    max-height: 250px;
    overflow: auto;
}
.custom-option {
    padding: 3px;
}
.custom-option:hover {
    background-color: #4489c8;
}
