body {
    padding: 0;
    margin: 0;
}

.clear-button {
    border: unset;
    background-color: unset;
}

.clear-a {
    text-decoration: none;
    color: black;
}

.clear-input {
    outline: unset;
    border: unset;
}

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

label {
    display: block;
    width: 100%;
}

input[type='text'], textarea {
    border: 1px solid #cbcdd1;
    padding: 5px 10px;
    border-radius: 5px;
}

input[readonly] {
    background-color: #dee0e4;
}

textarea {
    resize: vertical;
}

p {
    text-indent: 25px; /* Отступ первой строки в пикселах */
}

*, *:focus, *:hover {
    //outline: none;
    //-moz-user-select: none;
    //-o-user-select: none;
    //-khtml-user-select: none;
    //-webkit-user-select: none;
    //user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
