label {
    display: block;
    width: 100%;
}

input[type='text'], textarea {
    border: 1px solid #cbcdd1;
    padding: 5px 10px;
    border-radius: 5px;
}

input[readonly] {
    background-color: #dee0e4;
}

textarea {
    resize: vertical;
}

.invalid-value {
    border-color: red!important;
}

.product-window-shadow, .basket-window-shadow {
    background-color: rgba(0, 0, 0, 0.5);
}

.container-suggestions-pos-abs {
    border: 1px solid #cbcdd1;
    background-color: #FFFFFF;
}

.suggestion-item:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 247);
}



/* ADAPTIVE*/

.button-open-product {
    width: 10%;
}

@media screen and (max-width: 1440px) {

    .button-open-product {
        width: 20%;
    }

}

@media screen and (max-width: 1140px) {

    .button-open-product {
        width: 25%;
    }

}

@media screen and (max-width: 960px) {

    .button-open-product {
        width: 50%;
    }

}

@media screen and (max-width: 720px) {

    .button-open-product {
        width: 50%;
    }

}

@media screen and (max-width: 540px) {

    .button-open-product {
        width: 100%;
    }

}
