label {
    display: block;
    width: 100%;
}

input[type='text'], textarea {
    border: 1px solid #cbcdd1;
    padding: 5px 10px;
    border-radius: 5px;
}

input[readonly] {
    background-color: #dee0e4;
}

textarea {
    resize: vertical;
}

p {
    text-indent: 25px; /* Отступ первой строки в пикселах */
}

main {
    margin: 25px;
}

.invalid-value {
    border-color: red !important;
}

.product-window-shadow, .basket-window-shadow {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.container-suggestions-pos-abs {
    border: 1px solid #cbcdd1;
    background-color: #FFFFFF;
    width: calc(100% - 2px); /* - border */
}

.suggestion-item:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 247);
}

.clear-product-button {
    display: none;
}


/* ADAPTIVE*/

.button-open-product {
    width: 15%;
}

header {
    padding-left: 25px;
    padding-right: 25px;
}

.product-content {
    width: 50vw;
}

.container-product-img-and-description {
    display: block;
}

/* модальное окно */
.modal-window-component-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.modal-window-component-container .modal-window-component {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window-component-container .modal-window-component .modal-window-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000030;
}

.modal-window-component-container .modal-window-component .modal-window-content-container {
    z-index: 1;
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-left: 10px;
    margin-right: 10px;
}

.modal-window-component-container .modal-window-component .modal-window-content-container .modal-window-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
}

.modal-window-component-container .modal-window-component .modal-window-content-container .modal-window-content {
    overflow: auto;
    max-height: 80vh;
}

.buttons-edit-amount-product:active {
    transform: scale(0.95);
}

.pre-text {

    animation: pre-text-hide 5s;
    animation-fill-mode: forwards;
}

.pre-text>div {
    font-style: italic;
    font-size: 50px;
    word-break: break-all;
    padding: 50px;
    text-align: center;
}

@keyframes pre-text-hide {
    50% {
        opacity: 1;
    }
    99% {
        height: 100vh;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

/* цвета */
.order-status-1 {
    background-color: #dc3545;
    color: #FFFFFF;
}
.order-status-2 {
    background-color: #0dcaf0;
    color: #000000;
}
.order-status-3 {
    background-color: #ff6e07;
    color: #000000;
}
.order-status-4 {
    background-color: #ffc107;
    color: #000000;
}
.order-status-5 {
    background-color: #198754;
    color: #FFFFFF;
}
.order-status-6 {
    background-color: #0d6efd;
    color: #FFFFFF;
}
.order-status-7 {
    background-color: #6c757d;
    color: #FFFFFF;
}
.order-status-8 {
    background-color: #f8f9fa;
    color: #000000;
    border: 1px solid #000000;
}
.order-status-9 {
    background-color: #212529;
    color: #FFFFFF;
}

.product-in-order-status-1 {
    background-color: #dc3545;
    color: #FFFFFF;
}

.product-in-order-status-2 {
    background-color: #ffc107;
    color: #000000;
}

.product-in-order-status-3 {
    background-color: #198754;
    color: #FFFFFF;
}

@media screen and (max-width: 1440px) {

    .button-open-product {
        width: 20%;
    }

    .product-content {
        width: 75vw;
    }
}

@media screen and (max-width: 1140px) {

    .button-open-product {
        width: 25%;
    }

}

@media screen and (max-width: 960px) {

    .button-open-product {
        width: 50%;
    }

    .container-product {
        flex-direction: column;
    }

    .container-img-and-about-product, .container-modification-product {
        width: 100%;
    }

}

@media screen and (max-width: 720px) {

}

@media screen and (max-width: 540px) {

    .button-open-product {
        width: 100%;
    }

    header {
        padding-left: 0;
        padding-right: 0;
    }

    .container-profile {
        display: none;
    }

    .phone-container-header {
        display: none;
    }

    .product-content {
        width: 80vw;
    }

    .promo-code-apply-button {
        margin-top: 5px;
    }

    .container-product-img-and-description {
        display: flex;
    }

    .container-product-img {
        width: 35%;
    }

    .container-product-description {
        width: 65%;
    }

    .first:hover {
        box-shadow: unset;
    }

    main {
        margin: 0;
    }

    /*.modal-window-component-container .modal-window-component .modal-window-content-container {*/
    /*    border-radius: 0;*/
    /*}*/

    /*.modal-window-component-container .modal-window-component .modal-window-content-container .modal-window-content {*/
    /*    max-height: calc(100vh - 50px);*/
    /*    min-height: calc(100vh - 50px);*/
    /*    width: calc(100vw - 50px);*/
    /*}*/

}