body {
    padding: 0;
    margin: 0;
}

/**, *:focus, *:hover {*/
/*    outline: none;*/
/*    -moz-user-select: none;*/
/*    -o-user-select: none;*/
/*    -khtml-user-select: none;*/
/*    -webkit-user-select: none;*/
/*    user-select: none;*/
/*    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*}*/

.clear-button {
    border: unset;
    background-color: unset;
}

.clear-a {
    text-decoration: none;
    color: black;
}

.clear-input {
    outline: unset;
    border: unset;
}

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

/*input[type="number"]::-webkit-outer-spin-button,*/
/*input[type="number"]::-webkit-inner-spin-button {*/
/*    -webkit-appearance: none;*/
/*    margin: 0;*/
/*}*/

/*input[type="number"] {*/
/*    -moz-appearance: textfield;*/
/*}*/

/*input[type="number"]:hover,*/
/*input[type="number"]:focus {*/
/*    -moz-appearance: number-input;*/
/*}*/
